.header-sidebar {

  .nav-container {
    margin-left: -315px;
    margin-top: -60px;
  }
  #sidebar-wrapper {
    position: relative;
    width: 315px;
    margin-top: 0px;
    margin-left: 0px;
    left: 0px;
  }
  header {
    nav {
      .navbar-color-block {
        height: 40px;
        width: 15px;
        margin-right: -15px;
        margin-left: 5px;
        overflow: hidden;
        //opacity: .3;
        -webkit-transition: width 1s;
        transition: width 1s;
        &.expand { 
          width: 50px;
          //opacity: 1;
         }
        a {
          //width: inherit;
          display: block;
          //height: 13.5px;
          margin: 0px;
          padding: 0px;
          float: right;
          height: 33.3%;
          width: 60%;
          //border: 1px solid #ddd;
          opacity: .3;
          -webkit-transition: width 1s;
          transition: width 1s;
          span {
            //width: 40%;
            min-width: 5px;
            //height: inherit;
            display: block;
            //border-right: 1px solid #ccc;
            width: 40%;
            height: 100%;
          }
          &.expand-height { 
            width: 100%;
            opacity: 1;
            //margin-top: -15px;
            &.color-1 {
              //margin-top: 0px;
            }
            &.color-2 {
              //margin-top: -7px;
            }
          }
        }
        .color-1 {
          background-color: grey;
          span { background-color: black; }
        }
        .color-2 {
          background-color: red;
          span { background-color: pink; }
        }
        .color-3 {
          background-color: $vz-blue;
          span { background-color: $vz-boston-blue; }
        }
      }
    }
  }
}

