// Icons
.ui-icons {
  .panel-body {
    padding-right: 0px;
    padding-left: 0px;
  }

  .ui-icons-list {
    margin: 0px auto;
    padding-left: 0.5%;

    ul {
      padding: 0px;
      li {
        margin-right: 0.5%;
        margin-bottom: 2px;
        width: 12%;
        float: left;
        background: $dedede;
        list-style-type: none;
        span {
          padding: 10px;
          display: block;
          font-size: $font-size-medium;
          text-align: center;
        }
        span.icons-name {
          padding: 10px 20px;
          font-size: $font-size-small;
          word-wrap: break-word;
        }
      }
    }
  }
}
