// overrides Bootstrap


.modal-content {
  background-color: #F2F2F2;
  border-radius: 0;
  .modal-header {
    height: 45px;
    padding: 8px 20px 0px;
    background-color: #999;
    border: none;
    h3 {
      margin-top: 0px;
      color: #fff;
      a {
        color: $white;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .modal-body {

  }
  .btn-toolbar {
    .btn-group {
      border: 1px solid $vz-light-gray;
      border-radius: 5px;
    }
  }

  .modal-footer {
    padding: 0px;
    text-align: center;
    .btn-group {
      a {
        padding: 15px 10px;
        border-radius: 0px;
        color: $white;
        font-size: $font-size-medium;
        span {
          margin-right: 10px;
        }
      }
    }
  }
}




