.table-card {

	color: $vz-dark-gray;
	table-layout: fixed;
	width: 100%;
	thead {
		th {
			border-bottom: none;
			&:last-child {
				padding-left: 20px;
			}
		}
	}
	tbody {
		font-size: $font-size-12;
		tr {
			&:nth-child(odd) {
				background-color: $vz-white-lilac;
			}
		}
		td {
			border-top: none;
			word-wrap: break-word;
			border-left: 1px solid $vz-light-gray;
			&:first-child {
				border-left: none;
			}
			&:last-child {
				padding-left: 20px;
				//border-left: 1px solid $vz-light-gray;
			}
		}
	}
}