.code-block {
	pre {
		width: 100%;
    height: inherit;
	}
	.nt {
		color: $vz-blue;
	}
	.na { color: #4F9FCF; }
	.s { color: #D44950; }
}
.form-group {
	label:first-child { display: block; }
}
.ui-checkbox input[type="checkbox"]:checked + span::after {
  top: 8px;
}