
<nav class="navbar navbar-cms public" role="navigation" >
  <div class="container-fluid">

    <div class="pull-left">
      <div class="navbar-brand center-vertical">
        <a href="/">
         <span></span>
        </a>
      </div>
    </div>

    <div class="vertical-line pull-left">
      <span class="center-vertical"></span>
    </div>

    <div class="content-header pull-left">
      <h1 class="content-header-inner center-vertical">Video Content Management System</h1>
    </div>


  </div>
</nav>





