<!--  <div class="spacer"></div>
 -->
<!--<div class="footer text-center">
  <nav class="navbar navbar-cms">

    <div class="center-vertical">
      <ul class="nav nav-pills">
        <li><a href="/About-Us.aspx">About Verizon</a></li>
        <li><a href="http://www.verizonenterprise.com/privacy/" target="_blank">Privacy Policy</a></li>
        <li><a href="http://www22.verizon.com/about/terms/" target="_blank">Website Terms of Use</a></li>
        <li><a href="http://www.verizonenterprise.com/terms/" target="_blank">Legal Notices</a></li>
        <li><a href="/sitemap.xml" target="_blank">Site Map</a></li>
      </ul>
      <div class="copyright">
        <span>© 2015 Verizon. All Rights Reserved.</span>
      </div>
    </div>
  </nav>
</div>-->

<ng-include src="'components/footer/footer.private.html'" ng-if="FooterCtrl.isLoggedIn()"></ng-include>
<ng-include src="'components/footer/footer.public.html'" ng-if="!FooterCtrl.isLoggedIn()"></ng-include>