
// overrides Bootstrap

$panel-head: $vz-light-gray;
$panel-head-text: $vz-dark-gray;
$panel-body: $white;
$panel-body-text: $vz-dark-gray;
$panel-head-border-bottom: $silver-chalice;
$panel-border: $silver-chalice;


.panel {
  border-color: $panel-border;
  box-shadow: none;
  @include border-top-radius(0px);
  @include border-bottom-radius(0px);
  .panel-heading {
    padding: 14px 15px 15px;
    text-transform: uppercase;
    border-bottom-color: $panel-border;
    @include border-top-radius(0px);
    background-image: none;
  }
  .panel-title {
    font-size: $font-size-base;
  }
}

.page {
.panel-default {
  @include panel-variant($panel-border, $text-color, $panel-head, $panel-head-border-bottom);
  > .panel-heading {
    background-color: $panel-head;
    color: $panel-head-text;
    background-image: none;
  }
}
}

.panel.panel-card {
  //margin-top: 10px;
  margin-bottom: 14px;
  font-size: $font-size-13;
  // Variables are being set in _panels.scss
  @include panel-variant($panel-border, $vz-dark-gray, $panel-head, $panel-head);

  >.panel-heading {
    background-color: $panel-head;
    background-image: none;
    padding: 3px 15px 0px 15px;
    font-size: $font-size-18;
    text-transform: capitalize;
  }
  >.panel-body {
    padding: 10px 20px 5px 20px;
    word-wrap: break-word;
    word-break: break-all;
    font-family: "Helvetica Neue",Arial,sans-serif;
  }
  >.panel-footer {
    border-top: none;
    background-color: $panel-body;
    padding: 5px 20px 5px 20px;
    color: $vz-dusty-gray;
    font-family: "Helvetica Neue",Arial,sans-serif;
  }
  table {
    thead {
      th {
        width: 50%;
        border-bottom: none;
      }
    }
    tbody {
      font-size: $font-size-12;
      tr {
        &:nth-child(odd) {
          background-color: $vz-white-lilac;
        }
      }
      td {
        border-top: none;
        word-wrap: break-word;
        border-left: 1px solid $vz-light-gray;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          //border-left: 1px solid $vz-light-gray;
        }
      }
    }
  }
}





// overrides Bootstrap
$card-body-text:    $vz-dark-gray;
$card-border:       $silver-chalice;
$default-card:      $vz-light-gray;
$danger-card:       $brand-danger;
$success-card:      $brand-success;
$info-card:         $brand-info;
$pause-card:        $vz-dark-gray;
$card-footer-text:  $vz-dusty-gray;

.icons-info {
  display: inline-block;
  font-family: "icons";
  line-height: 1;
  text-rendering: optimizelegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
}


/* Collapse Content */
.collapse-trigger {
  color: $vz-dusty-gray;
  padding-top: 3px;
  padding-bottom: 5px;
  cursor: pointer;
  span {
    padding-left: 5px;
    font-style: normal;
  }
}

.collapse-content {
  border-top: 1px solid $vz-light-gray;
  border-bottom: 1px solid $vz-light-gray;
  padding-top:  5px;
  padding-left: 5px;
}

.collapse-trigger .show-when-collapsed{ display: none; }
.collapse-trigger.collapsed .show-when-collapsed{ display: inline-block; }
.collapse-trigger .show-when-open{ display: inline-block; }
.collapse-trigger.collapsed .show-when-open{ display: none; }

/* Vertical Alignment */
.vertical-align {
  display: flex;
  flex-direction: row;
}
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}
.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  flex-grow: 1;
}


/*
.card > .callout-body {
  cursor: pointer;
}
.card > .callout-body > .panel {
  margin-left: -15px;
  cursor: default;
}
*/


/* Card Pattern 1 */
.card {

  .icon-help { color: $silver-chalice; }

  table {
    color: $vz-dark-gray;
    table-layout: fixed;
    width: 100%;
    thead {
      th {
        border-bottom: none;
        &:last-child {
          padding-left: 20px;
        }
      }
    }
    tbody {
      font-size: $font-size-12;
      tr {
        &:nth-child(odd) {
          background-color: $vz-white-lilac;
        }
      }
      td {
        border-top: none;
        word-wrap: break-word;
        border-left: 1px solid $vz-light-gray;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          padding-left: 20px;
          //border-left: 1px solid $vz-light-gray;
        }
      }
    }
  }

  &.callout {
    padding: 0px;
    margin: 10px 10px 15px 10px;
    //cursor: pointer;
    border-style: solid;
    border-color: $card-border $card-border $card-border $default-card;
    border-radius: 5px 0px 0px 5px;
    border-width: 0px 0px 0px 10px;

    .nopadding {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    &.danger {
      border-color: $card-border $card-border $card-border $vz-red;
      .callout-left { color: $vz-red !important; }
      .card-color { color: $vz-red; }
      .icon-card:before { content: "\f11e"; @extend .icons-info;}
    }
    &.success {
      border-color: $card-border $card-border $card-border $vz-green;
      .callout-left { color: $vz-green !important; }
      .card-color { color: $vz-green; }
    }
    &.info {
      border-color: $card-border $card-border $card-border $brand-info;
      .callout-left { color: $brand-info !important; }
      .card-color { color: $brand-info; }
    }
    &.dark {
      border-color: $card-border $card-border $card-border $vz-dark-gray;
      .callout-left { color: $vz-dusty-gray !important; }
      .card-color { color: $vz-dark-gray; }
      .icon-card:before { content: "\f120";  @extend .icons-info;}
    }
    .callout-body {
      height: 100%;
      border: 1px solid $card-border;
      padding-left:15px;
      margin-top: 20px;
      //font-family: "Helvetica Neue",Arial,sans-serif;
      cursor: pointer;
      > .panel {
        margin-left: -15px;
        cursor: default;
      }
      .page-header {
        padding-bottom: 0px;
        margin: 0px;
        border-bottom: none;
        height: inherit;
      }
      .callout-left {
        text-align: center;
        margin-right: -20px;
        margin-left: -5px;
//margin-right: -40%;
//margin-left: -19%;
        font-size: $font-size-20;
        color: $vz-dark-gray;
        text-transform: capitalize;

        >.icon-card:before {
          font-size: $font-size-30;
          //padding-right: 10px;
          padding-right: 1%;
        }
      }
      .callout-right { border-left: 1px solid $card-border; }
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        /* Safari and Chrome */
        .callout-right { margin-right: -1px; }
      }
    }

    /* Panel Card Overrides when in a Callout */
    .panel-card {
      border: none;
      margin-bottom: 0;

      >.panel-heading {
        text-transform: none;
        word-wrap: break-word;
        font-family: "Apex";
        h4,h5 {
          font-family: "Helvetica Neue",Arial,sans-serif;
        }
        &.nobg {
          background-color: $panel-body;
          border-bottom: none;
        }
      }
      >.panel-body {
        padding-top: 5px;
        padding-bottom: 0px;
      }
    }
  }
}

//////////////////////////////////////////////

.show { display: block; }
.hide { display: none; }


/* icon-show & Tab colors */
.icon-pause-show {
  border-color: $card-border $card-border $card-border $pause-card;
  .callout-inner .callout-left {
    span.callout-title {
      color: $default-card;
    }
    span.callout-icon {
      display: inline-block;
      color: $default-card;
      span.icon-error {
        display: none;
      }
      span.icon-pause-circle {
        display: inline-block;
      }
    }
  }
}

.icon-error-show {
  border-color: $card-border $card-border $card-border $danger-card;
  .callout-inner .callout-left {
    span.callout-title {
      color: $danger-card;
    }
  span.callout-icon {
      display: inline-block;
      color: $danger-card;
      span.icon-error {
        display: inline-block;
      }
      span.icon-pause-circle {
        display: none;
      }
    }
  }
}

/* Card Tab Colors */
.info {
  border-color: $card-border $card-border $card-border $info-card;
  > .callout-inner {
    .callout-left {
      span.callout-title {
        color: $info-card;
      }
    span.callout-icon {
        color: $info-card;
      }
    }
    .card-bottom {
      .panel-footer {
        span.status-text {
          color: $info-card;
        }
      }
    }
  }
}
.success {
  border-color: $card-border $card-border $card-border $success-card;
  > .callout-inner {
    .callout-left {
      span.callout-title {
        color: $success-card;
      }
    span.callout-icon {
        color: $success-card;
      }
    }
    .card-bottom {
      .panel-footer {
        span.status-text {
          color: $success-card;
        }
      }
    }
  }
}
.danger {
  border-color: $card-border $card-border $card-border $danger-card;
  > .callout-inner {
    .callout-left {
      span.callout-title {
        color: $danger-card;
      }
      span.callout-icon {
        color: $danger-card;
      }
    }
    .card-bottom {
      .panel-footer {
        span.status-text {
          color: $danger-card;
        }
      }
    }
  }
}
.pause {
  border-color: $card-border $card-border $card-border $pause-card;
  > .callout-inner .callout-left {
  span.callout-title {
    color: $default-card;
  }
  span.callout-icon {
      color: $default-card;
    }
  }
}



.table-card {

  color: $vz-dark-gray;
  table-layout: fixed;
  width: 100%;
  thead {
    th {
      border-bottom: none;
      &:last-child {
        padding-left: 20px;
      }
    }
  }
  tbody {
    font-size: $font-size-12;
    tr {
      &:nth-child(odd) {
        background-color: $vz-white-lilac;
      }
    }
    td {
      border-top: none;
      word-wrap: break-word;
      border-left: 1px solid $vz-light-gray;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        padding-left: 20px;
        //border-left: 1px solid $vz-light-gray;
      }
    }
  }
}
