<aside class="nav-container">
  <div id="sidebar-wrapper" class="nav-wrapper color-pattern-navyblue">
    <div class="sidebar-logo text-center">
      <span class="sidebar-logo-vz"></span>
      <span class="sidebar-logo-header">Digital Media Services</span>
    </div>
    <ul id="sidebar-nav" class="nav">
      <li class="nav-title">
        <span>Navigation</span>
      </li>
      <li>
        <a href="/">
          <i class="icon-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/jobs">
          <i class="icon-fallout"></i>
          <span>Fallout Queue</span>
        </a>
      </li>
      <li>
        <a href="users" id="user_app_id">
          <i class="icon-security"></i>
          <span>Security</span>
        </a>
      </li>
      <li>
        <a href="cp" id="cp_app_id">
          <i class="icon-content-provider"></i>
          <span>Content Providers</span>
        </a>
      </li>
      <li>
        <a href="http://152.190.154.240:8080/nuxeo/login.jsp">
          <i class="icon-asset-management"></i>
          <span>Asset Management</span>
        </a>
      </li>
    </ul>
    <!--<div class="sidebar-color-block" disable="disabled">-->
      <!--<a href="" class="sidebar-colors-1" disable="disabled"></a>-->
      <!--<a href="" class="sidebar-colors-2"></a>-->
      <!--<a href="" class="sidebar-colors-3"></a>-->
      <!--<a href="" class="sidebar-colors-4"></a>-->
    <!--</div>-->
  </div>
</aside>
