$color-pattern-navyblue-base:                         #393f4f;
$color-pattern-navyblue-active-inner-bkgrnd:          tint( $color-pattern-navyblue-base, 80% );
$color-pattern-navyblue-seperator:                    tint( $color-pattern-navyblue-base, 30% );
$color-pattern-navyblue-nav-font:                     tint( $color-pattern-navyblue-base, 70% );
$color-pattern-navyblue-nav-font-hover:               lighten( $color-pattern-navyblue-base, 90% );
$color-pattern-navyblue-badge-bkgrnd:                 lighten( $color-pattern-navyblue-base, 80% );
$color-pattern-navyblue-badge-color:                  saturate( $color-pattern-navyblue-base, 60% );
$color-pattern-navyblue-active-font-hover:            lighten( $color-pattern-navyblue-base, 90% );
$color-pattern-navyblue-active-bkgrnd:                tint( $color-pattern-navyblue-base, 25% );
$color-pattern-navyblue-inner-bkgrnd:                 tint( $color-pattern-navyblue-base, 55% );
$color-pattern-navyblue-nav-inner-font:               saturate( $color-pattern-navyblue-base, 10% );

$color-pattern-maroon-base:                         #600925;
$color-pattern-maroon-active-inner-bkgrnd:          tint( $color-pattern-maroon-base, 80% );
$color-pattern-maroon-seperator:                    tint( $color-pattern-maroon-base, 30% );
$color-pattern-maroon-nav-font:                     tint( $color-pattern-maroon-base, 70% );
$color-pattern-maroon-nav-font-hover:               lighten( $color-pattern-maroon-base, 90% );
$color-pattern-maroon-badge-bkgrnd:                 lighten( $color-pattern-maroon-base, 80% );
$color-pattern-maroon-badge-color:                  saturate( $color-pattern-maroon-base, 60% );
$color-pattern-maroon-active-font-hover:            lighten( $color-pattern-maroon-base, 90% );
$color-pattern-maroon-active-bkgrnd:                tint( $color-pattern-maroon-base, 25% );
$color-pattern-maroon-inner-bkgrnd:                 tint( $color-pattern-maroon-base, 55% );
$color-pattern-maroon-nav-inner-font:               saturate( $color-pattern-maroon-base, 10% );

$color-pattern-royalblue-base:                         #2e67b2;
$color-pattern-royalblue-active-inner-bkgrnd:          tint( $color-pattern-royalblue-base, 80% );
$color-pattern-royalblue-seperator:                    tint( $color-pattern-royalblue-base, 30% );
$color-pattern-royalblue-nav-font:                     tint( $color-pattern-royalblue-base, 70% );
$color-pattern-royalblue-nav-font-hover:               lighten( $color-pattern-royalblue-base, 90% );
$color-pattern-royalblue-badge-bkgrnd:                 lighten( $color-pattern-royalblue-base, 80% );
$color-pattern-royalblue-badge-color:                  saturate( $color-pattern-royalblue-base, 60% );
$color-pattern-royalblue-active-font-hover:            lighten( $color-pattern-royalblue-base, 90% );
$color-pattern-royalblue-active-bkgrnd:                tint( $color-pattern-royalblue-base, 25% );
$color-pattern-royalblue-inner-bkgrnd:                 tint( $color-pattern-royalblue-base, 55% );
$color-pattern-royalblue-nav-inner-font:               saturate( $color-pattern-royalblue-base, 10% );

$color-pattern-purple-base:                         #7f3483;
$color-pattern-purple-active-inner-bkgrnd:          tint( $color-pattern-purple-base, 80% );
$color-pattern-purple-seperator:                    tint( $color-pattern-purple-base, 30% );
$color-pattern-purple-nav-font:                     tint( $color-pattern-purple-base, 70% );
$color-pattern-purple-nav-font-hover:               lighten( $color-pattern-purple-base, 90% );
$color-pattern-purple-badge-bkgrnd:                 lighten( $color-pattern-purple-base, 80% );
$color-pattern-purple-badge-color:                  saturate( $color-pattern-purple-base, 60% );
$color-pattern-purple-active-font-hover:            lighten( $color-pattern-purple-base, 90% );
$color-pattern-purple-active-bkgrnd:                tint( $color-pattern-purple-base, 25% );
$color-pattern-purple-inner-bkgrnd:                 tint( $color-pattern-purple-base, 55% );
$color-pattern-purple-nav-inner-font:               saturate( $color-pattern-purple-base, 10% );

//Sidebar Sliding
#wrapper {
  padding-left: 0;
  @include transition(all 0.5s ease-in-out);
  &.sidebar-toggle {
    padding-left: 315px;
  }
}
.collapsed {
}
#sidebar-wrapper {
  top: 0px;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $tundora;
  overflow: hidden;
  @include transition(all 0.5s ease-in-out);
}

#wrapper.sidebar-toggle #sidebar-wrapper {
  width: 315px;
}

// SideBar Styling
.nav-container {
  .sidebar-logo {
    background: $tundora;
    width: 315px;
    height: 40px;
    .sidebar-logo-vz {
      background-color: $vz-red;
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-top: 7px;
      @include border-left-radius(5px);
      @include border-top-radius(0px);
      margin-right: 5px;
      vertical-align: top;
    }
    .sidebar-logo-header {
      color: rgb(255, 255, 255);
      font-size: 26px;
    }
  }
  .nav {
    margin: 0 0 -50px;
    padding: 1px 0 0 0;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    width: 330px;

    .nav-title {
      display: none;
      margin: 0px;
      padding: 5px 15px 5px;
      font-size: $font-size-h3;
      background: $vz-dark-gray;
      border-top: 1px solid $tundora;
      border-bottom: 1px solid $tundora;
      -webkit-box-shadow: 0px 1px 0px $vz-light-gray, 0px -1px 0px $vz-light-gray;
      -moz-box-shadow: 0px 1px 0px $vz-light-gray, 0px -1px 0px $vz-light-gray;
      box-shadow: 0px 1px 0px $vz-light-gray, 0px -1px 0px $vz-light-gray;
    }

    .divider {
      margin: 10px 0;
      border-width: 1px;
      border-style: solid;
    }

    >li>a>i,
    >li>a>.nav-icon {
      display: inline-block;
      margin-right: 20px;
      margin-top: -6px;
      width: 20px;
      line-height: 1;
      text-align: center;
      font-size: $font-size-h3;
      vertical-align: middle;
      @include transition(all $nav-transition_duration ease-in-out);
    }
    a:active {
      outline: none;
      text-decoration: none;
    }

    a {
      font-size: 13px;
      outline: none;
      @include transition(all $nav-transition_duration ease-in-out);
        &:hover {
          text-decoration: none;
          background-color: transparent;
        }
    }

    > li a {
     > span.icon-chevron-down {
       margin-top: 0px;
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
      }
    }
    > li a.collapsed {
      > span.icon-chevron-down {
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
      }
    }

    >li {
      position: relative;
      margin: 0px 0;
      text-align: left;
      width: 320px;
      border-top: 1px solid #aea7a7;
      //font-weight: bold;
      @include transition(all $nav-transition_duration ease-in-out);

      &:last-child {
        margin-bottom: 90px;
        border: 0px;
      }
      &:first-child > a {
        border-top: 0;
      }
      >a {
        position: relative;
        display: block;
        padding: 15px 15px;
        font-size: $font-size-medium;
        @include transition(all $nav-transition_duration ease-in-out);

        .badge {
          position: absolute;
          top: 18px;
          right: 13px;
          padding: 6px 11px;
          border-radius: 5px;
          font-size: 14px;
          color: $tundora;
          background: $vz-light-gray;
        }

        &:hover, &:focus {
          background: transparent;
        }

      }

      > .icon-has-ul {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 10px;
        line-height: 19px;
      }
    }

    // Sub Navigation
    ul {
      //display: none;
      a {
        font-size: 13px;
      }

      li {
        position: relative;
        padding: 0;

        > a {
          position: relative;
          display: block;
          padding: 13px 0 13px 15px;
          @include transition(all $nav-transition_duration ease-in-out);

          > i {
            font-size: 21px;
            margin-right: 0px;
            vertical-align: middle;
          }

          > .badge {
            position: absolute;
            right: 13px;
            top: 14px;
            padding: 6px 11px;
            border-radius: 5px;
            font-size: 14px;
            color: $tundora;
            background: $vz-light-gray;
          }
        }
      }
    }
  }

  // SIDE NAV COLORING
  &.bg-dark {
    background-color: $vz-dark-gray;

    .nav {

      a {
        color: #ccc;
        color: rgba(255,255,255,.5);
        font-size: $font-size-large;
        text-decoration: none;
      }

      .nav-title {  color: $white;  }

      .divider { border-color: darken($vz-dark-gray, 5%);  }


      > li {
        &:hover {
          > a {
            color: $dark_bg_link_hover_color;
          }
          > .icon-has-ul,
          > .icon-has-ul-h { color: $dark_bg_link_hover_color; }
        }
        &.active {
          > a { color: $dark_bg_link_active_color;  }
          > .icon-has-ul { color: $dark_bg_link_active_color; }
        }
      }

      // sub menu
      ul {
       // background-color: $dark_bg_sub_nav_bg;
        background: $vz-dark-gray;
        list-style-type: none;

        > li {
          &:last-child { margin-bottom: -1px; }
          > a { font-size: $font-size-h4; }
          &:hover,
          &.active {
            > a { color: $dark_bg_sub_link_active_color; }
          }
        }
      }

    }
  }
}

// color patterns 
#sidebar-wrapper {
  &.color-pattern-navyblue {
    background-color: $color-pattern-navyblue-base;
    .sidebar-logo {
      background-color: transparent;
    }
    ul.nav {
      margin-bottom: -50px;
      li {
        border-top: 1px solid $color-pattern-navyblue-seperator;
        &:hover {
          ul li > a {color: $color-pattern-navyblue-base; }
        }
        a {
          color: $color-pattern-navyblue-nav-font;
          &:hover {
            color: $color-pattern-navyblue-nav-font-hover;
          }
          .badge {
            color: $color-pattern-navyblue-badge-color;
            background-color: $color-pattern-navyblue-badge-bkgrnd;
          }
          &.active {
            background-color: $color-pattern-navyblue-active-bkgrnd;
            color: $color-pattern-navyblue-active-font-hover; 
            i { color: $color-pattern-navyblue-nav-font; }
            ul {
              li > a {
                color: $color-pattern-navyblue-nav-inner-font;
              }
            }
          }
        }
        /*&.active {
            background-color: $color-pattern-navyblue-active-bkgrnd;
            a { color: $color-pattern-navyblue-active-font-hover; }
            i { color: $color-pattern-navyblue-nav-font; }
            ul {
              li > a {
                color: $color-pattern-navyblue-nav-inner-font;
              }
            }
          }*/
        
        &.nav-title {
          background-color: transparent;
          border: 0px none;
          box-shadow: none;
          display: none;
        }
        ul {
          padding-left: 0px;
          background-color: $color-pattern-navyblue-inner-bkgrnd;
          li {
            padding-left: 50px;
            border-bottom: 1px solid $color-pattern-navyblue-seperator;
            border-top: 0px;
            &:hover {
              a { color: $color-pattern-navyblue-active-font-hover; }
            }
            &.active-inner {
              background-color: $color-pattern-navyblue-active-inner-bkgrnd;
              a { color: $color-pattern-navyblue-base; }
            }
            a {
              padding: 10px 0px 10px 0px;
              font-size: 14px;
              color: $color-pattern-navyblue-base;
              i { opacity: 0;}
            }
          }
        }
      }
    }
  }

  &.color-pattern-maroon {
    background-color: $color-pattern-maroon-base;
    .sidebar-logo {
      background-color: transparent;
    }
    ul.nav {
      margin-bottom: -50px;
      li {
        border-top: 1px solid $color-pattern-maroon-seperator;
        &:hover {
          ul li > a {color: $color-pattern-maroon-base; }
        }
        a {
          color: $color-pattern-maroon-nav-font;
          &:hover {
            color: $color-pattern-maroon-nav-font-hover;
          }
          .badge {
            color: $color-pattern-maroon-badge-color;
            background-color: $color-pattern-maroon-badge-bkgrnd;
          }
          &.active {
            background-color: $color-pattern-maroon-active-bkgrnd;
            color: $color-pattern-maroon-active-font-hover; 
            i { color: $color-pattern-maroon-nav-font; }
            ul {
              li > a {
                color: $color-pattern-maroon-nav-inner-font;
              }
            }
          }
        }
        &.nav-title {
          background-color: transparent;
          border: 0px none;
          box-shadow: none;
          display: none;
        }
        ul {
          padding-left: 0px;
          background-color: $color-pattern-maroon-inner-bkgrnd;
          li {
            padding-left: 50px;
            border-bottom: 1px solid $color-pattern-maroon-seperator;
            border-top: 0px;
            &:hover {
              a { color: $color-pattern-maroon-active-font-hover; }
            }
            &.active-inner {
              background-color: $color-pattern-maroon-active-inner-bkgrnd;
              a { color: $color-pattern-maroon-base; }
            }
            a {
              padding: 10px 0px 10px 0px;
              font-size: 14px;
              color: $color-pattern-maroon-base;
              i { opacity: 0;}
            }
          }
        }
      }
    }
  }

  &.color-pattern-royalblue {
    background-color: $color-pattern-royalblue-base;
    .sidebar-logo {
      background-color: transparent;
    }
    ul.nav {
      margin-bottom: -50px;
      li {
        border-top: 1px solid $color-pattern-royalblue-seperator;
        &:hover {
          ul li > a {color: $color-pattern-royalblue-base; }
        }
        a {
          color: $color-pattern-royalblue-nav-font;
          &:hover {
            color: $color-pattern-royalblue-nav-font-hover;
          }
          .badge {
            color: $color-pattern-royalblue-badge-color;
            background-color: $color-pattern-royalblue-badge-bkgrnd;
          }
          &.active {
            background-color: $color-pattern-royalblue-active-bkgrnd;
            color: $color-pattern-royalblue-active-font-hover; 
            i { color: $color-pattern-royalblue-nav-font; }
            ul {
              li > a {
                color: $color-pattern-royalblue-nav-inner-font;
              }
            }
          }
        }
        &.nav-title {
          background-color: transparent;
          border: 0px none;
          box-shadow: none;
          display: none;
        }
        ul {
          padding-left: 0px;
          background-color: $color-pattern-royalblue-inner-bkgrnd;
          li {
            padding-left: 50px;
            border-bottom: 1px solid $color-pattern-royalblue-seperator;
            border-top: 0px;
            &:hover {
              a { color: $color-pattern-royalblue-active-font-hover; }
            }
            &.active-inner {
              background-color: $color-pattern-royalblue-active-inner-bkgrnd;
              a { color: $color-pattern-royalblue-base; }
            }
            a {
              padding: 10px 0px 10px 0px;
              font-size: 14px;
              color: $color-pattern-royalblue-base;
              i { opacity: 0;}
            }
          }
        }
      }
    }
  }

  &.color-pattern-purple {
    background-color: $color-pattern-purple-base;
    .sidebar-logo {
      background-color: transparent;
    }
    ul.nav {
      margin-bottom: -50px;
      li {
        border-top: 1px solid $color-pattern-purple-seperator;
        &:hover {
          ul li > a {color: $color-pattern-purple-base; }
        }
        a {
          color: $color-pattern-purple-nav-font;
          &:hover {
            color: $color-pattern-purple-nav-font-hover;
          }
          .badge {
            color: $color-pattern-purple-badge-color;
            background-color: $color-pattern-purple-badge-bkgrnd;
          }
          &.active {
            background-color: $color-pattern-purple-active-bkgrnd;
            color: $color-pattern-purple-active-font-hover; 
            i { color: $color-pattern-purple-nav-font; }
            ul {
              li > a {
                color: $color-pattern-purple-nav-inner-font;
              }
            }
          }
        }
        &.nav-title {
          background-color: transparent;
          border: 0px none;
          box-shadow: none;
          display: none;
        }
        ul {
          padding-left: 0px;
          background-color: $color-pattern-purple-inner-bkgrnd;
          li {
            padding-left: 50px;
            border-bottom: 1px solid $color-pattern-purple-seperator;
            border-top: 0px;
            &:hover {
              a { color: $color-pattern-purple-active-font-hover; }
            }
            &.active-inner {
              background-color: $color-pattern-purple-active-inner-bkgrnd;
              a { color: $color-pattern-purple-base; }
            }
            a {
              padding: 10px 0px 10px 0px;
              font-size: 14px;
              color: $color-pattern-purple-base;
              i { opacity: 0;}
            }
          }
        }
      }
    }
  }
}

// color block buttons
.sidebar-color-block {
  width: 100%;
  height: 35px;
  margin-bottom: -10px;
  bottom: 10px;
  overflow: hidden;
  background: #5D5456;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
  a {
    width: 25%;
    height: 100px;
    float: left;
    opacity: .3;
    display: block;
    margin: 0px;
    padding: 0px;
    transition: width 1s ease 0s;
    &.show { 
      opacity: 1;
      border: 1px solid #999;
   }
  }
  .sidebar-colors-1 {
    background-color: $color-pattern-navyblue-base;
  }
  .sidebar-colors-2 {
    background-color: $color-pattern-maroon-base;
  }
  .sidebar-colors-3 {
    background-color: $color-pattern-royalblue-base;
  }
  .sidebar-colors-4 {
    background-color: $color-pattern-purple-base;
  }
  &.expand-height {
    bottom: 25px;
  }
}

