.sign-in {

  .row:first-child {
  	margin-top: 50px;
  	margin-bottom: 10px;
  }
  .row:nth-child(2) {
  	margin-bottom: 80px;
  }
  .vz-logo-header {
  	max-height: 150px;
  	display: inline-block;
  }
  .signin-header {
  	margin-top: 35px;
  	margin-left: 20px;
  	display: inline-block;
		vertical-align: middle;
  	color: $gray-light;
  }
  .form-header {
  	color: $gray-light;
  }
  .help-link {
  	margin-top: 10px;
  	color: $gray-light;
    margin-right: 8px;
    span { 
      font-size: 24px;
      vertical-align: middle;
      margin-top: -2px;
      display: inline-block;
    }
  }
  .warning-info {
  	margin: 5px 0 -20px;

  	.text-alert {
	    color: $brand-danger;
	    font-size: $font-size-medium;
      span { margin-right: 5px; }
		}
  }
  .col-xs-4 {
  	background-color: transparent;
  	border: none;
  }
}
